
  @media #{$tablet} {
    .wrapper{
      width:100%;
    }

    .header {
      font-size: 1em;
      justify-content: space-between;
      border: none;

      .header__logo {
      }

      .header__nav {
        display: none;
      }

      .header__hamburger {
        //margin-right: 5%;
        margin-bottom: -2%;
        display: block;
      }
    }
}

